@import url("https://fonts.googleapis.com/css?family=Allerta+Stencil|Fira+Sans:200,400,800|IM+Fell+English|Julius+Sans+One|Space+Mono:400,700");
.container {
  max-width: 155rem;
  width: 90%;
  margin: 0 auto; }

.content {
  display: flex; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  box-sizing: border-box;
  padding: 0;
  font-size: 1.3rem; }

body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #000; }

.heading-primary {
  backface-visibility: hidden;
  font-weight: 400;
  color: #000;
  text-transform: capitalize; }
  .heading-primary--main {
    display: block;
    font-size: 6rem; }

.heading-secondary {
  font-size: 2.7rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: #000; }

.logo {
  font-family: 'Allerta Stencil', sans-serif; }
  .logo a {
    text-decoration: none;
    color: inherit; }

.sinopsis {
  font-family: 'IM Fell English', serif;
  font-size: 1.6rem; }

.nav-links {
  font-family: 'Julius Sans One', sans-serif; }

.credits {
  font-family: 'Space Mono', monospace; }

.paragraph {
  font-family: 'Space Mono', monospace;
  font-size: 1.8rem;
  line-height: 2; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-left-text {
  text-align: left !important; }

.u-right-text {
  text-align: right !important; }

.u-start-text {
  text-align: start !important; }

.u-end-text {
  text-align: end !important; }

.u-justify-text {
  text-align: justify !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

header {
  margin-bottom: 10rem; }

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 6.4rem;
  background-color: #8c8c8c;
  margin-bottom: 3rem;
  z-index: 100;
  width: 100%;
  display: flex;
  align-items: stretch;
  font-size: 1.1rem; }
  .navbar__row {
    flex: 1;
    align-items: center;
    justify-content: space-between;
    display: flex; }
  .navbar__logo {
    color: #fff;
    flex: 0 1 15%;
    text-align: center;
    letter-spacing: 1.5px; }
  .navbar__list {
    display: flex;
    justify-content: center;
    list-style: none;
    align-content: center; }
  .navbar__section-list {
    flex: 1 0; }
  .navbar__link:link, .navbar__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 0;
    margin: 0 2rem;
    letter-spacing: 2px;
    color: #fff;
    transition: color 0.4s;
    display: block; }
  .navbar__link:hover {
    color: #F0A202; }
  .navbar__link--active {
    color: #F0A202 !important; }
  .navbar__icon {
    padding: 1rem 0;
    margin: 0 1rem;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    transition: color 0.4s; }
    .navbar__icon:hover {
      color: #F0A202; }

.langing__image {
  position: absolute;
  top: 6.4rem;
  left: 0;
  width: 100%; }

.work {
  margin-top: -4rem;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap; }
  .work__element {
    flex: 100%;
    position: relative;
    cursor: pointer;
    transition: all 0.2s; }
    .work__element:hover {
      box-shadow: 1rem 5rem 4rem rgba(0, 0, 0, 0.4);
      transform: scaleX(1.01); }
  .work__info {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4.5rem;
    width: 100%;
    text-align: left; }
  .work__link {
    text-decoration: none;
    color: inherit; }
  .work__title {
    text-align: center;
    text-transform: capitalize; }
  .work__date {
    font-size: 2rem;
    text-align: center;
    text-transform: capitalize; }
  .work__image {
    object-fit: fill;
    display: block;
    margin: 0 auto;
    filter: contrast(50%);
    height: 30rem;
    width: 100%; }

.description-work__video {
  position: relative;
  top: 0;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin-bottom: 3rem; }

.description-work__frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.description-work__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.description-work__card img {
  object-fit: cover;
  object-position: 100% 0;
  width: 30rem;
  height: 20rem; }

.description-work__credit-title {
  display: block;
  font-weight: 700;
  text-transform: capitalize; }

.description-work__important {
  font-weight: 700; }

.description-work__credits {
  flex: 50%; }

.description-work__cover {
  margin-top: -4rem;
  width: 100%; }

.about {
  margin: 15rem auto;
  display: flex;
  justify-content: space-between; }
  .about__img {
    align-self: baseline;
    position: relative;
    flex: 0 0 40%;
    transition: all 0.4s; }
    .about__img:hover > * {
      transition: all 0.4s;
      visibility: visible;
      opacity: 1; }
    .about__img:hover img {
      filter: contrast(30%); }
    .about__img img {
      width: 100%; }
  .about__txt {
    flex: 0 0 55%;
    font-size: 1.5rem;
    text-align: right; }
  .about__stats {
    width: 100%;
    visibility: hidden;
    opacity: 0;
    font-weight: 600;
    color: #000;
    text-align: center;
    font-size: 2rem;
    transition: all 0.2s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .about__link-content {
    display: flex;
    justify-content: space-around; }
  .about__link {
    margin: 0 .5rem;
    flex: 1 0 10%;
    text-align: center;
    border: 2px solid #000; }
    .about__link a {
      display: block;
      font-size: 3rem;
      text-decoration: none;
      color: inherit;
      transition: all 0.4s; }
      .about__link a:hover {
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.portafolio {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.headshots {
  display: flex;
  flex-wrap: wrap;
  margin-top: -4rem; }
  .headshots__img {
    flex: 1 0 25%;
    overflow: hidden;
    position: relative;
    transition: all .4s; }
    .headshots__img img {
      width: 100%;
      height: 100%; }

.evaluations {
  margin-top: 20rem; }
  .evaluations__list {
    list-style: none; }
  .evaluations__name:link, .evaluations__name:visited {
    text-transform: capitalize;
    text-decoration: none;
    color: #000;
    transition: all 0.4s; }
  .evaluations__name:hover {
    color: #F0A202; }

.contact {
  margin-bottom: -4rem;
  position: relative;
  height: 100vh; }
  .contact__info {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .contact__link:link, .contact__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color 0.4s;
    color: inherit; }
  .contact__link:hover {
    color: #F0A202; }
  .contact__link--active {
    color: #F0A202 !important; }

.reel {
  margin-top: -4rem; }
  .reel__video-wrapper {
    position: relative;
    padding-bottom: 56.25%; }
    .reel__video-wrapper iframe {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0; }
