header {
  margin-bottom: 10rem;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 6.4rem;
  background-color: $color-primary;
  margin-bottom: 3rem;
  z-index: 100;
  width: 100%;
  display: flex;
  align-items: stretch;
  font-size: 1.1rem;

  &__row {
    flex: 1;
    align-items: center;
    justify-content: space-between;
    display: flex;
  }
  
  &__logo {
    color: $color-white;
    flex: 0 1 15%;
    text-align: center;
    letter-spacing: 1.5px;
  }

  &__list {
    display: flex;
    // width: 100%;
    justify-content: center;
    list-style: none;
    align-content: center;
  }

  &__section-list {
    flex: 1 0;
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      text-transform: uppercase;
      padding: 1rem 0;
      margin: 0 2rem;
      letter-spacing: 2px;
      color: $color-white;
      transition: color 0.4s;
      display: block;
    }
    &:hover {
      color: $color-accent;
    }
    &--active {
      color: $color-accent !important;
    }
  }

  &__icon {
    padding: 1rem 0;
    margin: 0 1rem;
    font-size: 2rem;
    color: $color-white;
    cursor: pointer;
    transition: color 0.4s;
    &:hover {
      color: $color-accent;
    }
  }
}
