@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil|Fira+Sans:200,400,800|IM+Fell+English|Julius+Sans+One|Space+Mono:400,700');
body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-black;
}

.heading-primary {
  backface-visibility: hidden;
  font-weight: 400;
  color: $color-black;
  text-transform: capitalize;

  &--main {
    display: block;
    font-size: 6rem;
  }
}

.heading-secondary {
  font-size: 2.7rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: $color-black;
}

.logo {
  font-family: 'Allerta Stencil', sans-serif;
  & a {
    text-decoration: none;
    color: inherit;
  }
}

.sinopsis {
  font-family: 'IM Fell English', serif;
  font-size: 1.6rem;
}

.nav-links {
  font-family: 'Julius Sans One', sans-serif;
}

.credits {
  font-family: 'Space Mono', monospace;
}

.paragraph {
  font-family: 'Space Mono', monospace;
  font-size: 1.8rem;
  line-height: 2;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
