.headshots {
    display: flex;
    flex-wrap: wrap;
    margin-top: -4rem;

    &__img {
        flex: 1 0 25%;
        img {
            min-height: 100%;
            max-width: 100%;
        }
    }
}