.work {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;

  &__element {
    flex: 25%;
  }

  &__info {
      margin: 1rem 0;
  }

  &__title {
    text-align: center;
    text-transform: capitalize;
    color: $color-tertiaty;
  }

  &__date {
    text-align: center;
    text-transform: capitalize;
  }

  &__image {
      display: block;
      margin: 0 auto;
       transition: all .2s;
      &:hover {
          box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
      }
  }
}
